*
{
    text-decoration: none;
    list-style: none;
}
.navbar
{
    background-color: red;
    height: 10vh;
    width: 100%;
}
.logoname
{
    color: #fff;
    text-decoration: none;
    font-size: 29px;
    margin-left: 50px;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu
{
    display: flex;
}
.navlinks
{
    color: #fff;
    margin-right: 40px;
}
.close-btn,.open-btn
{
    color: #fff;
    font-size: 19px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width:780px)
{
    .nav-menu
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        height: 100vh;
        width: 100%;
        right: 0;
        left: -110%;
        text-align: center;
        background-color: gray;
        padding: 19px;
        transition: .4s ease-in-out;
        opacity: 0;
        overflow: auto;
    }
    .close-btn,.open-btn
    {
        display: block;
        margin-right: 19px;
        font-size: 28px;
    }
    .nav-menu.active
    {
        left: 0%;
        transition: .4s ease-in-out;
        opacity: 1;
        height: 90vh;
    }
    .navlinks
    {
        width: 100%;
        display: table;
        margin: 19px auto;
        font-size: 25px;
    }
}